In [1]:
from Core.EvAlgo import GA

In [2]:
A = GA(popSize=50, nGenerations = 20, nVar=6, nObj=1, toKeep=5)

In [3]:
A_df = A.popolate()

In [4]:
A.duplicateRemover()

In [5]:
A.evaluate(function=lambda x: sum(x))

True

In [6]:
A.survival(nParents=5, sortBy='Eval')

In [7]:
A.dfParents

      a    i  RAAN  NumPlanes  NumSatxPlane  InterRAAN         Eval
0  6905   94    88         11            22   8.564641  7128.564641
1  6875  102    96         44             3   2.190861  7122.190861
2  6855  118    83          4            37   9.812084  7106.812084
3  6886   88    95          7            18   2.380757  7096.380757
4  6877  101    95          5             4   6.125346  7088.125346